h1 {
    text-align: center;
}

.col-md-12, .col-md-3 {
    padding: 0 !important;
}

#form-photos textarea {
    width: 100% !important;
}

#form-photos select {
    border: 0;background-color: rgb(14,90,111);
    color: white;
    margin-bottom: 10px;
    height: 50px;
}

.photo-row {
    background-color: #eae3e3;
    margin-bottom: 15px;
    padding: 10px;
}

.button_file {
	width: 250px;
	height: 35px;
	border: none;
	background-color: rgb(14, 90, 111);
	color: white;
}

.upload_image {
	max-height: 170px;
	overflow: hidden;
}

.thumb{
	width: 250px;
	margin-right: 10px;
}
